.App {
  text-align: center;
  color: white;
}

.inputField {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.topbar {
  width: 100%;
}

.styleSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.styleSelect .slut {
  background-color: red;
}
